body {
  font-family: "Nunito", sans-serif;
  background-color: #f7f7f7;
}

.bg {
  background-color: #ececec;
  width: 100%;
  min-height: 450px;
  margin-bottom: -430px;
}

.bg-detail {
  background-color: #ebebeb;
  width: 100%;
  min-height: 450px;
  margin-bottom: -400px;
}

hr:not([size]) {
  height: 3px;
}

.hr1 {
  background: #e00120;
  max-width: 170px;
  margin: 0px;
}

.hr2 {
  background: #e00120;
  width: 80px;
  margin: 0 auto;
}

#header p {
  font-size: 12px;
}

#header .section-title h2 {
  font-size: 40px;
  font-weight: bold;
}

#header .section-title h2::after {
  content: "";
  display: block;
  margin: 10px auto 45px -35px;
  width: 200px;
  border-bottom: 4px solid #e00120;
}

#filterNews {
  margin-top: 40px;
}

#filterNews .btn-filter {
  padding: 10px 40px;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.card-img-top {
  border-radius: 10px 10px 0 0;
}

.card {
  border-radius: 10px;
}

.post-date {
  font-size: 14px;
  color: #5a5a5a;
}

.card-news {
  text-decoration: none;
  color: #5a5a5a;
  border: none;
  -webkit-box-shadow: 0px 0px 2px #818181;
  box-shadow: 0px 0px 2px #818181;
}

.card-news:hover {
  color: #3f3f3f;
  -webkit-box-shadow: 2px 2px 10px #a3a3a3;
  box-shadow: 2px 2px 10px #a3a3a3;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.card-news:hover .cta {
  color: #b8b800;
}

.card-news .mask-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.card-news .mask-wrapper:hover .image-wrapper .card-image {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.card-news .mask-wrapper .image-wrapper {
  position: relative;
}

.card-news .mask-wrapper .image-wrapper .card-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card-news .mask-wrapper .image-wrapper .tag-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 6px 10px;
  background-color: #e00120;
  border-radius: 10px;
}

.card-news .mask-wrapper .image-wrapper .tag-wrapper .tag-article {
  color: #f7f7f7;
  font-size: 14px;
}

.card-news .card-content .card-body {
  min-height: 165px;
}

.card-news .card-content .card-body .card-copy h5 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.card-news .card-content .card-body .card-copy .icons {
  color: #818181;
}

.card-news .card-content .card-body .card-copy .card-date,
.card-news .card-content .card-body .card-copy .card-author {
  font-size: 12px;
  font-weight: 300;
}

.card-news .card-content .card-footer .cta {
  font-weight: 400;
}

.btn-load-all-news {
  border-radius: 20px;
  color: white;
  padding: 10px 50px;
  overflow: hidden;
}

.btn-load-all-news:hover {
  color: #ffffff;
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.tag-articles {
  padding: 3px 10px;
  background-color: #e00120;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.tag-articles:hover {
  color: white;
  background-color: #ff1131;
}

.detail-news .share-title {
  font-size: 14px;
  color: #b4b400;
}

#content {
  margin-bottom: 300px;
}

#content .detail-title {
  font-size: 38px;
}

#content .fa-facebook {
  color: blue;
}

#content .fa-instagram {
  color: #376faf;
}

#content .fa-twitter {
  color: #8d8dfd;
}

#content .link {
  color: #727272;
  text-decoration: none;
}

#content .link:hover {
  color: #cfcf00;
}

#content .article {
  color: #727272;
  font-weight: 300;
}

/* Berita, Events, Detail */

/*# sourceMappingURL=main.css.map */
