body {
  margin: 0;
  padding: 0;
  background-color: rgba(241, 241, 241, 0.726);
  overflow-x: hidden;
  font-family: "Samsung Sans Regular" !important;
}

/* template travelinary */
:root {
  --color-first: #ee5253;
  --color-second: #020202;
  --color-green: #4e5522;
  --color-red: #ff6a6a;

  --first-text: #ffffff;
  --second-text: #ee5253;
  --third-text: #0a0a09;
  --box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
}

/* color */
.backgroundOrange {
  background-color: var(--color-orange);
}
.textOrange {
  color: var(--color-first);
}

.textBlack {
  color: var(--third-text);
}
/* end color */

/* font weight lora and nunito */

/* lora = medium,lora semi bold,lora bold */
/* nunito = regular,nunito semi bold,nunito bold */

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
span,
a,
label,
button,
input,
textarea,
div {
  font-family: "Nunito", sans-serif;
}
input::placeholder {
  font-family: "Nunito", sans-serif;
}
.loraMedium {
  font-family: "Lora", serif !important;
  font-weight: 500;
}
.loraSemiBold {
  font-family: "Lora", serif !important;
  font-weight: 600;
}
.loraBold {
  font-family: "Lora", serif !important;
  font-weight: 700;
}

.nunitoRegular {
  font-family: "Nunito", sans-serif !important;
  font-weight: 400;
}
.nunitoSemiBold {
  font-family: "Nunito", sans-serif !important;
  font-weight: 600;
}
.nunitoBold {
  font-family: "Nunito", sans-serif !important;
  font-weight: 700;
}
.txt-mute {
  font-size: 14px;
  color: var(--second-text);
}
.txt-mute1 {
  font-size: 16px;
  color: var(--second-text);
}
/* end font */

/* btn rounded */

.btn-pill {
  background-color: var(--color-first);
  border-radius: 20px;
  color: white;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.btn-pillNonAnimation {
  background-color: var(--color-first);
  border-radius: 20px;
  color: white;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.btn-pill-large {
  background-color: var(--color-first);
  border-radius: 20px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.btn-pill-disable {
  background-color: rgba(250, 188, 2, 0.1);
  border-radius: 20px;
  color: var(--first-text);
  letter-spacing: 0.5px;
  font-weight: bold;
}
.btn-pill-stroke {
  border: 1px solid var(--color-first);
  border-radius: 20px;
  color: var(--color-first);
  letter-spacing: 0.5px;
  font-weight: bold;
}
.btn-pill-light {
  background-color: white;
  border: 1px solid var(--color-first);
  border-radius: 20px;
  color: var(--color-first);
  letter-spacing: 0.5px;
  font-weight: bold;
}
a:hover {
  text-decoration: none !important;
  color: var(--color-orange);
}
a.btn-pill:hover {
  transform: scale(1.06);
  transition: 0.3s;
  text-decoration: none !important;
  color: white !important;
}
a.btn-pill-large:hover {
  transform: scale(1.06);
  transition: 0.3s;
  text-decoration: none !important;
  color: white !important;
}
a.btn-pill-stroke:hover {
  transform: scale(1.06);
  transition: 0.3s;
  text-decoration: none !important;
}
a.btn-pill-disable:hover {
  transform: scale(1.06);
  transition: 0.3s;
  text-decoration: none !important;
}
/* end btn rounded */

/* dropdown */
.dropdown-menu {
  box-shadow: var(--box-shadow);
  border: none;
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px;
}
.dropdown-menu a.dropdown-item {
  font-size: 18px;
}
a.dropdown-item:hover {
  color: black !important;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu i.fa-chart-bar {
  color: var(--color-orange);
}
.dropdown-menu i.fa-heart {
  color: var(--color-red);
}
.dropdown-menu i.fa-map-marker-alt {
  color: var(--color-green);
}
.dropdown-menu i.fa-map-marked-alt {
  color: var(--color-orange);
}
.dropdown-menu i.fa-utensils {
  color: var(--color-green);
}
.dropdown-menu i.fa-calendar-alt {
  color: var(--color-yellow);
}
.js-example-basic-single {
  width: 200px;
  height: 60px;
}
.js-example-basic-multiple {
  width: 200px;
  height: 60px;
}
.filterContent {
  margin-top: -90px;
  position: relative;
  opacity: 0;
}
.filterButton {
  z-index: 2;
  position: relative;
}
.filterAnimation {
  animation: filterShow 0.6s ease-out alternate forwards;
}
@keyframes filterShow {
  from {
    opacity: 0;
    margin-top: -90px;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}
/* dropdown */

/* card */
.card:hover {
  box-shadow: var(--box-shadow);
  transition-duration: 0.3s;
}
.card .statusIcon {
  position: absolute;
  top: 0;
  right: 0;
}
.card .statusIcon p {
  margin: 10px;
}
/* end card */

/* owl carousel */
.topPost .owl-item {
  padding: 20px;
}
.owl-nav {
  position: absolute;
  top: -87px;
  right: 20px;
}
.owl-prev {
  border-radius: 10px !important;
  width: 50px;
  height: 50px;
  outline: none !important;

  background-color: rgba(250, 188, 2, 0.1) !important;
}
.owl-next {
  border-radius: 10px !important;
  width: 50px;
  height: 50px;
  outline: none !important;
  background-color: rgba(250, 188, 2, 0.1) !important;
}
.owl-next::after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 28px;
  color: var(--color-orange);
}

.topPost .owl-dot {
  display: none !important;
}

.owl-prev::after {
  content: "\f104";
  font-size: 28px;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: var(--color-orange);
}
.owl-nav span {
  display: none;
  font-weight: bold;
}
/* end owl carousel */

/* animation */
.rightToLeft {
  animation: rightToLeft 1s alternate forwards;
}
.leftToRight {
  animation: leftToRight 1s alternate forwards;
}
.bottomToTop {
  animation: bottomToTop 1s alternate forwards;
}
.opacityAnimation {
  animation: opacity 1s alternate forwards;
}

/* end animation */

/* stars */
.star-widget input {
  display: none;
}
.star-widget {
  float: left;
}
.star-widget label {
  font-size: 32px;
  color: darkgray;
  float: right;
  padding: 0px 2px;
  transition: all 0.3s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  color: orange;
}
input:checked ~ label {
  color: orange;
}
/* end stars */

/* end templatetravelinary */

/* Navbar Header Start */
nav {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  transition: 0.5s;
  z-index: 10;
  background-color: white;
  box-shadow: 5px 2px 10px grey;
}
nav i.fa-angle-down {
  font-size: 14px;
}
nav .dropdown-menu {
  margin-left: -50px;
}
nav .avatar:hover {
  cursor: pointer;
}
nav .avatar:hover i,
nav .avatar:hover h5 {
  color: var(--color-orange);
}
nav .fa-sign-out-alt {
  color: var(--color-first) !important;
}
nav .fa-user {
  color: var(--color-green) !important;
}

nav ul li a:hover {
  color: var(--second-text) !important;
}
nav ul li.active a {
  color: var(--second-text) !important;
}
nav ul li a {
  color: var(--third-text) !important;
}

/* end nav */

/* banner section */
.banner img {
  /* margin-top: 100px; */
  width: 10%;
  /* justify-content: center; */

  /* position: relative; */
}
/* end banner section */

/* total post section */
#totalPost .column {
  /* margin-right: 5px; */
  margin: 10px 0;
  text-align: center;
  display: grid;
}
#totalPost {
  margin-top: 8rem;
}
#totalPost .row {
  position: relative;
  border-radius: 20px;
  padding: 40px;
  background-color: var(--second-text);
}
#totalPost .iconLeft {
  position: absolute;
  left: 0;
  top: -20px;
  width: 80px;
}
#totalPost .iconRight {
  position: absolute;
  right: 0;
  bottom: -20px;
  width: 80px;
}
/* end total post section*/

/* Hint Section */
#hint {
  margin-top: 8rem;
}
#hint .column {
  display: flex;
  align-items: center !important;
  padding: 14px;
  margin-top: 20px;
  border-radius: 10px;
  /* color:black; */
}
#hint img,
#hint a,
#hint h4,
#hint h2 {
  opacity: 0;
}
/* End Hint Section */

/* wisata section */
#wisata {
  margin-top: 8rem;
}
#wisata .iconLove {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}
.totalComments {
  color: var(--second-text);
  margin-left: 10px;
}
#wisata .card .iconLove p {
  color: white;
}
#wisata .card .love {
  position: relative;
}
#wisata .card img {
  width: 100px;
}
#wisata .card .love img {
  width: 100%;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#wisata .desc i {
  color: var(--color-green);
  margin-right: 10px;
}
#wisata .card {
  width: 16rem;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
/* end wisata section */

/* event section */
#event {
  margin-top: 6rem;
  margin-bottom: 8rem;
}

#event .iconLove {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}
.totalComments {
  color: var(--second-text);
  margin-left: 10px;
}
#event .card .iconLove p {
  color: white;
}
#event .card .love-event {
  position: relative;
}
#event .card img {
  width: 100px;
}
#event .card .love-event img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#event .desc i {
  color: var(--color-green);
  margin-right: 10px;
}

#event .card {
  width: 20rem;
  border: none;
  min-height: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
#event .card .date {
  color: var(--color-orange);
  display: block;
  font-size: 28px;
  font-weight: bold;
}
#event .information {
  color: var(--third-text);
  font-size: 16px;
  margin-top: 10px;
}

#eventDetail {
  margin-top: 4rem;
}

#eventDetail .iconLove {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}
#eventDetail .card .iconLove p {
  color: white;
}
#eventDetail .card .love-event {
  position: relative;
}
#eventDetail .card img {
  width: 100px;
}
#eventDetail .card .love-event img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#eventDetail .desc i {
  color: var(--color-green);
  margin-right: 10px;
}

#eventDetail .card {
  width: 20rem;
  border: none;
  min-height: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
#eventDetail .card .date {
  color: var(--color-orange);
  display: block;
  font-size: 28px;
  font-weight: bold;
}
#eventDetail .information {
  color: var(--second-text);
  font-size: 16px;
  margin-top: 10px;
}

/* end event section */

/* destination page */
#category {
  margin-top: 6rem;
}
#categoryCard {
  margin-top: 4rem;
}
#categoryCard .row {
  max-width: 100%;
}
#categoryCard .container {
  justify-items: center !important;
  display: grid;
}
#categoryCard .card {
  opacity: 0;
}
#categoryCard .iconLove {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.totalComments {
  color: var(--second-text);
  margin-left: 10px;
}
.searchPindev input::placeholder {
  color: var(--first-text);
}
.searchPindev input {
  background-color: transparent;
  outline: none;
  padding-left: 50px;
  background-color: white;
  width: 300px;
  border: none;
  height: 40px;
  font-family: nunito, sans-serif;
  border-radius: 40px;
}

.searchPindev {
  position: relative;
}
.btn-gray {
  background-color: white;
  border: none;
  color: var(--first-text);
  border-radius: 20px;
}
.searchPindev::before {
  content: "\f002";
  font-size: 20px;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: var(--first-text);
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 15px;
}
#categoryCard .card .iconLove p {
  color: white;
}
#categoryCard .card .love {
  position: relative;
}
#categoryCard .card img {
  width: 100px;
}
#categoryCard .card .love img {
  width: 100%;
  /* height: 128pt; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#categoryCard .desc i {
  color: var(--color-green);
  margin-right: 10px;
}
#categoryCard .card {
  width: 100%;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
#categoryCard .event .card .date {
  color: var(--color-orange);
  display: block;
  font-size: 28px;
  font-weight: bold;
}
#categoryCard .event .information {
  color: var(--second-text);
  font-size: 16px;
  margin-top: 10px;
}

.select2-container .select2-selection--single {
  height: 38px !important;
  border-color: #ced4da !important;
  padding-top: 4px;
}
.select2-selection__arrow {
  margin-top: 4px;
  margin-right: 4px;
}
.select2-container .select2-selection--multiple {
  min-height: 38px !important;
  border-color: #ced4da !important;
}

/* end destination page */

/* profile page */
#avatar {
  margin: 6rem 0;
}
#profilePost {
  margin: 6rem 0;
}
#profilePost .iconLove {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}
#profilePost .card .iconLove p {
  color: white;
}
#profilePost .card .love {
  position: relative;
}
#profilePost .card img {
  width: 100px;
}
#profilePost .card .love img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#profilePost .desc i {
  color: var(--color-green);
  margin-right: 10px;
}
#profilePost .card {
  width: 100%;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.no-padding-left-right {
  padding-left: 0;
  padding-right: 0;
}

#profilePost .nav-tabs .nav-link.active {
  background-color: transparent;
  color: var(--first-text);
}
#profilePost .nav-tabs .total {
  font-weight: 400;
  color: var(--third-text);
}
#profilePost .nav-tabs .nav-link {
  font-weight: bold;
  color: var(--third-text);
}
#profilePost .card .date {
  color: var(--color-orange);
  display: block;
  font-size: 28px;
  font-weight: bold;
}
#profilePost .information {
  color: var(--second-text);
  font-size: 16px;
  margin-top: 10px;
}
/* end profile page */

/* detail page */
#detail-page {
  margin-top: 6rem;
}
.carousel-detail {
  width: 100%;
  /* height: 23rem; */
  background-attachment: fixed;
}
.carousel img {
  height: 100vh;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 1);
}
.slide {
  width: 100%;
  /* height: 100vh !important; */
}
.slide-text {
  width: 90%;
}
.stars {
  font-size: 17px;
}
/* end detail page */

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
}

section.slideshow img {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

section.slideshow .quotes {
  border-left: 5px solid #ff7f00;
  border-radius: 2px;
  padding-left: 20px;
  padding-bottom: 2.5px;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translate(-130%, -50%);
  color: #fff;
}

section.slideshow .quotes p {
  font-size: 20px;
}

section.slideshow div.title {
  width: 50%;
  height: 10%;
  background: rgba(255, 255, 255, 0.5);
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

section.slideshow div.title p {
  color: #000;
  font-size: 40px;
  text-align: center;
  line-height: 70px;
}

.carousel-indicators {
  z-index: 1;
}

/* .navbar-toggler {
  display: none;
  margin-top: -60px;
  position: absolute;
  right: 20px;
  cursor: pointer;
} */

#check {
  display: none;
}

/* End Navbar Header */
/* Start Content */
/* HomePage */
section.content .box {
  width: 200px;
  height: 50px;
  border-bottom: 4px solid #0069c0;
  font-size: 25px;
}

section.content input[type="checkbox"] {
  opacity: 0;
}

div.kartu {
  position: relative;
  background: #262626;
  width: 500px;
  height: 250px;
  overflow: hidden;
  transition: 0.35s;
}

div.kartu:hover {
  z-index: 1;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.35s;
}

section.content input[type="checkbox"],
.toggle {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 15px;
  bottom: 10px;
  outline: none;
  z-index: 1;
  cursor: pointer;
}

.toggle {
  pointer-events: none;
  border-radius: 50%;
  background: var(--color-first);
  transition: 0.5s;
  text-align: center;
  line-height: 50px;
  font-size: 36px;
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 1);
}

#checkimage:checked ~ .toggle {
  box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.5);
  transform: rotate(225deg);
}

div.kartu img,
.image-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-content {
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0;
  color: #fff;
}

.image-content p {
  font-size: 12px;
}

#checkimage:checked ~ .image-content {
  opacity: 1;
  transition-delay: 0.5s;
}

.destinasi-list {
  height: 40.5%;
}

.tag {
  position: absolute;
  width: 90%;
  border-radius: 0 0 10px 10px;
  height: 60px;
  padding-top: 10px;
  bottom: 0;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  opacity: 0.7;
  transition: 0.4s;
}

.text-tag {
  text-align: center;
  width: 100%;
}

.img-category {
  width: 101%;
  height: 210px;
  margin-bottom: 50px;
  /* height: 110px; */
  border-radius: 7px 7px 7px 7px;
  transition: 0.4s;
}

.img-category:hover ~ .tag,
.tag:hover {
  border-radius: 10px 10px 10px 10px;
  height: 100%;
}

.text-tag h5#opo {
  display: block;
}

.listWisata {
  display: none;
  list-style: none;
}

.tag:hover .listWisata {
  display: block;
}

.tag:hover .text-tag h5#opo {
  display: none;
}

.rows {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.parallax-container {
  max-width: 960px;
  width: 70%;
  margin: 0 auto;
}

section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
}

section.module p {
  margin-bottom: 40px;
}

section.module p:last-child {
  margin-bottom: 0;
}

section.module.content {
  padding: 40px 0;
  background-color: rgba(207, 216, 220, 0.5);
}

section.module.content:last-child {
  margin-bottom: 60px;
}
section.parallax h3 {
  color: rgb(236, 236, 236) !important;
}
section.module.parallax {
  padding: 24px 0;
  background-position: 0 0;
}

section.module.parallax h1 {
  color: white !important;
  line-height: 1;
  text-align: center;
}

.parallax-1 {
  background-position: 50% 0;
  background-size: cover;
}

.parallax-blur {
  background-color: black;
}

.text-parralax-tengah {
  margin-top: -15px;
  font-size: 75px;
}

.img-google {
  width: 130px;
}

.img-apple {
  width: 115px;
  margin-top: 9px;
}

.text-parralax-kiri {
  text-align: left;
}

.card {
  margin: 10px auto;
  transition: 0.4s;
}
.card .price {
  color: var(--third-text);
  font-size: 18px !important;
  font-weight: 600;
}

/* div.card:hover {
  transform: scale(1.1);
} */

.tgl-latest-event {
  margin: 0 auto;
  font-size: 32px;
}

.bulan-latest-event {
  font-family: "Samsung Sans Medium";
  color: red;
  margin: 0 auto;
}

/* destination  */
.deskripsi-destinasi {
  font-size: 19px;
  text-indent: 30px;
}

.bg-destination {
  object-fit: cover;
}

.img-responsive {
  height: 170px;
}
.detailPost .owl-dot {
  outline: none !important;
  display: inline-block !important;
}
.detailPost .owl-dot span {
  background-color: rgba(250, 188, 2, 0.3) !important;
}
.detailPost .owl-dot.active span {
  background-color: var(--color-orange) !important;
}
/* end destination */
/* event */
.img-event {
  height: 250px;
}

.card-event {
  height: 95%;
  text-align: left;
}

/* end event */

.scroll {
  position: relative;
  top: -50px;
}

.btnTop {
  width: 50px;
  height: 70px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: none;
  background: white;
  border: 1px solid var(--second-text);
  z-index: 10;
  color: var(--second-text);
  border-radius: 5px;
}

.btnTop:hover {
  text-decoration: none;
  cursor: pointer;
  /* box-shadow: 0px 0px 12px 0.3px #252525; */
  border-radius: 5px;
  background: var(--color-first);
  /* opacity: 0.5; */
  z-index: 10;
  color: white;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  border: solid var(--second-text);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  z-index: 10;
}
.btnTop:hover .up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  z-index: 10;
}

/* end homepage */
/* destination-detail page */
.post-title {
  margin-top: 5px;
  font-size: 20px;
}

.caption {
  font-size: 16px;
}

.ratenow,
.star {
  font-size: 1px;
}

.prev-next {
  color: black;
  border-left: 5px solid #0069c0;
  padding-left: 1em;
}

/* end destination-detail */
/* footer */
div#footerQ {
  background-color: #343429;
}
.footer-text {
  font-size: 16px;
  color: white;
}
.footer-copyright {
  background-color: #31312b;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 5px;
}
.footer-copyright p {
  color: white !important;
}
.logo-unesa {
  margin-left: -30px;
  width: 90%;
}

.logo-ic {
  margin-left: -30px;
  width: 130%;
}
footer h6 {
  color: white;
}
/* end footer */
.btn-share {
  margin-left: 10px;
}

/* End of Content */
/* Start Responsive */
@media screen and (max-width: 1500px) {
  section.slideshow div.title {
    height: 7.5%;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
  }

  section.slideshow div.title p {
    line-height: 100px;
  }
}

@media screen and (max-width: 1200px) {
  .tag {
    width: 88%;
  }

  .img-event {
    height: 210px;
  }

  .btn-share {
    margin-left: 40px;
  }
}

@media screen and (max-width: 991px) {
  /* nav {
    margin: 0;
    padding: 0;
  } */
  nav .dropdown-menu {
    margin-left: 0px;
  }
  .scrollHorizontal {
    overflow-y: scroll;
    padding: 10px;
    display: flex;
  }
  .navbar-collapse {
    background-color: white;
    position: absolute;
    top: 70px;
    left: 0px;
    width: 100%;
  }
  .navbar-collapse ul,
  .auth {
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .navbar-collapse ul,
  .nonAuth {
    padding-left: 20px;
    padding-bottom: 20px;
  }

  section.slideshow .quotes {
    border-left: 5px solid #ff7f00;
    border-radius: 2px;
    padding-left: 20px;
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-70%, -50%);
    color: #fff;
  }

  section.slideshow .quotes h1 {
    line-height: 20px;
    font-size: 16px;
  }

  section.slideshow .quotes p {
    line-height: 20px;
    font-size: 12px;
  }

  section.slideshow div.title p {
    line-height: 70px;
  }

  section.slideshow div.title p {
    line-height: 60px;
    font-size: 20px;
  }

  .col-4 {
    width: 100vw;
  }

  div.kartu:hover {
    z-index: 1;
    -moz-transform: scale(1.03, 1.03);
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
    transition: 0.35s;
  }

  .destinasi-list {
    height: 27%;
  }

  .img-category {
    width: 100.5%;
  }

  .img-google {
    width: 110px;
  }

  .img-apple {
    width: 95px;
    margin-top: 7px;
  }

  /* div.card:hover {
    z-index: 1;
    -moz-transform: scale(1.03, 1.03);
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
    transition: 0.35s;
  } */

  .footer-text {
    font-size: 13px;
  }

  .logo-unesa {
    margin-left: -30px;
    width: 100%;
  }

  .logo-ic {
    margin-left: -30px;
    width: 160%;
  }

  .btn-share {
    margin-left: 20px;
  }
  /* detail page */
  .header-desktop {
    display: none;
  }
  .sidebar {
    margin-left: 1.5rem;
  }
  .card-ulasan {
    width: 13rem;
    font-size: 10px;
  }
  .card-ulasan img {
    width: 45px;
  }
  .card-ulasan h5,
  .card-ulasan i {
    font-size: 12px;
  }
  /* end detail page */
}

@media screen and (max-width: 768px) {
  .owl-nav {
    display: none;
  }

  #categoryCard {
    margin-top: 20px;
  }
  #eventDetail {
    margin-top: 20px;
  }
  .topPost .owl-dot {
    outline: none !important;
    display: inline-block !important;
    margin-top: 10px;
  }
  .topPost .owl-dot span {
    background-color: rgba(250, 188, 2, 0.3) !important;
  }
  .topPost .owl-dot.active span {
    background-color: var(--color-orange) !important;
  }
  section.slideshow .quotes {
    border-left: 5px solid #ff7f00;
    border-radius: 2px;
    padding-left: 20px;
    position: absolute;
    z-index: 5;
    left: 30%;
    top: 55%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  section.slideshow .quotes h1 {
    line-height: 25px;
    font-size: 14px;
  }

  section.slideshow .quotes p {
    line-height: 25px;
    font-size: 12px;
  }

  .destinasi-list {
    height: 20.2%;
  }

  .tag {
    width: 89.5%;
  }

  .text-parralax-kiri {
    font-size: 15px;
  }

  .text-parralax-tengah {
    margin-top: -5px;
    font-size: 45px;
  }

  .img-google {
    width: 80px;
  }

  .img-apple {
    margin-top: 5px;
    width: 70px;
  }

  .post-title {
    margin-top: 5px;
    font-size: 17px;
  }

  .deskripsi-destinasi {
    font-size: 17px;
  }

  .btn-share {
    margin-left: 50px;
  }
}

@media screen and (min-width: 992px) {
  ul li#search-mobile {
    display: none;
  }

  section.slideshow div.title {
    height: 10.5%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  section.slideshow div.title p {
    line-height: 70px;
  }

  /* detail-page */
  .header-mobile {
    display: none;
  }
  .card-ulasan {
    width: 100%;
  }
  .card-ulasan .card-text {
    margin-top: 18px;
    font-size: 15px;
  }

  /* end detail-page */
  /* destinasi */
  #categoryCard .card .love img {
    height: 128pt;
  }
  #event .card .love-event img {
    height: 150pt;
  }
  #eventDetail .card .love-event img {
    height: 150pt;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .tgl-latest-event {
    font-size: 35px;
  }

  .bulan-latest-event {
    font-size: 17px;
  }

  .logo-unesa {
    margin-left: 0px;
    width: 60% !important;
  }

  .logo-ic {
    width: 100% !important;
  }
}

@media screen and (max-width: 575px) {
  .title-home {
    font-size: 33px;
  }

  section.slideshow img {
    height: 50vh !important;
  }

  .destinasi-list {
    height: 10.2%;
  }

  .tag {
    width: 94.6%;
    /* width: 100%; */
  }

  .text-parralax-kiri {
    font-size: 12px;
  }

  .text-parralax-tengah {
    margin-top: -5px;
    font-size: 35px;
  }

  .img-google {
    width: 55px;
  }

  .img-apple {
    margin-top: 1px;
    width: 45px;
  }

  .deskripsi-destinasi {
    font-size: 15px;
  }

  .post-title {
    font-size: 16px;
  }

  .caption {
    font-size: 13px;
  }

  .ratenow {
    margin-top: 3px;
    font-size: 16px;
  }

  .star {
    font-size: 15px;
  }

  .prev-next {
    padding-left: 7px;
  }

  /* footer */
  .footer-text {
    font-size: 13.5px;
  }

  .logo-unesa {
    margin-left: 0px;
    width: 60% !important;
  }

  .logo-ic {
    width: 100% !important;
  }

  /* end footer */
  /* event */
  .img-event {
    height: 300px;
  }

  /* end event */
  /* galeri */
  .galeri_gambar {
    height: auto;
  }

  /* end galeri */
  .btn-share {
    margin-left: 70px;
  }
}

@media screen and (max-width: 400px) {
  .tag {
    width: 92%;
    /* width: 100%; */
  }

  .img-responsive {
    height: 210px;
  }

  section.slideshow .quotes {
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-100%, -50%);
    color: #fff;
  }

  section.slideshow .quotes h1 {
    line-height: 20px;
    font-size: 10px;
  }

  section.slideshow .quotes p {
    line-height: 20px;
    font-size: 8px;
  }

  .galeri_gambar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  section.slideshow div.title {
    margin-top: 0px;
  }

  section.slideshow div.title p {
    line-height: 47.5px;
    font-size: 20px;
  }

  .btn-share {
    margin-left: 90px;
  }

  .bulan-latest-event {
    font-size: 13px;
  }
  .tgl-latest-event {
    font-size: 25px;
  }
}

/* Berita, Events, Detail */
body {
  font-family: "Nunito", sans-serif;
  background-color: #f7f7f7;
}

.bg {
  background-color: #ececec;
  width: 100%;
  min-height: 450px;
  margin-bottom: -430px;
}

.bg-detail {
  background-color: #ebebeb;
  width: 100%;
  min-height: 450px;
  margin-bottom: -400px;
}

#header p {
  font-size: 12px;
}

#header .section-title h2 {
  font-size: 40px;
  font-weight: bold;
}

#header .section-title h2::after {
  content: "";
  display: block;
  margin: 10px auto 45px -35px;
  width: 200px;
  border-bottom: 4px solid #e00120;
}

.text-slug {
  text-decoration: none;
  color: #363636;
}

.text-slug:hover {
  text-decoration: none;
  color: #363636;
}

#filterNews {
  margin-top: 40px;
}

#filterNews .btn-filter {
  padding: 10px 40px;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.card-img-top {
  border-radius: 10px 10px 0 0;
}

.card {
  border-radius: 10px;
}

.post_date {
  font-size: 14px;
  color: #5a5a5a;
  padding-top: 1px;
}

.fa-gray {
  color: #646464;
}

.fa-red {
  color: #ff6868;
}

.card-news {
  text-decoration: none;
  color: #5a5a5a;
  border: none;
  -webkit-box-shadow: 0px 0px 2px #818181;
  box-shadow: 0px 0px 2px #818181;
}

.card-news:hover {
  color: #500f0f;
  -webkit-box-shadow: 2px 2px 10px #a3a3a3;
  box-shadow: 2px 2px 10px #a3a3a3;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  text-decoration: none;
}

.card-news:hover .image-wrapper .card-image {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.card-news:hover .cta {
  color: #ff4444;
}

.card-news:hover .card-date,
.card-news:hover .card-author {
  color: #363636;
}

.card-news .mask-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.card-news .mask-wrapper .image-wrapper {
  height: 300px;
}

.card-news .mask-wrapper:hover .image-wrapper .card-image {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.card-news .mask-wrapper .image-wrapper {
  position: relative;
}

.card-news .mask-wrapper .image-wrapper .card-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card-news .mask-wrapper .image-wrapper .tag-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 6px 10px;
  background-color: #e00120;
  border-radius: 10px;
}

.card-news .mask-wrapper .image-wrapper .tag-wrapper .tag-article {
  color: #f7f7f7;
  font-size: 14px;
}

.card-news .card-content .card-body {
  min-height: 180px;
}

.card-news .card-content .card-body .card-copy h5 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.card-news .card-content .card-body .card-copy .icons {
  color: #c00000;
  width: 20px;
}

.card-news .card-content .card-body .card-copy .card-date,
.card-news .card-content .card-body .card-copy .card-author {
  font-size: 14px;
  font-weight: 300;
}

.card-news .card-content .card-footer .cta {
  font-weight: 400;
}

.btn-load-all-news {
  border-radius: 20px;
  color: white;
  padding: 10px 50px;
  overflow: hidden;
}

.btn-load-all-news:hover {
  color: #ffffff;
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.tag-articles {
  padding: 3px 10px;
  background-color: #e00120;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.tag-articles:hover {
  color: white;
  background-color: #ff1131;
  text-decoration: none;
}

.detail-news .share-title {
  font-size: 14px;
  color: #e00120;
}

#content {
  margin-bottom: 300px;
}

#content .detail-title {
  font-size: 38px;
}

#content .fa-facebook {
  color: blue;
}

#content .fa-instagram {
  color: #376faf;
}

#content .fa-twitter {
  color: #8d8dfd;
}

#content .link {
  color: #727272;
  text-decoration: none;
}

#content .link:hover {
  color: #ee5253;
}

#content .article {
  color: #727272;
  font-weight: 300;
}

.card-title {
  text-transform: uppercase;
  font-weight: bolder;
}

.text-vert-center {
  margin: auto 0;
}

.category-wrapper {
  margin-top: 6px;
  margin-left: 10px;
}

main {
  margin-top: 80px;
}
.topnav .navbar-nav .nav-item .nav-link {
  font-family: "Nunito", sans-serif !important;
  font-weight: 600 !important;
}

/*# sourceMappingURL=main.css.map */

@keyframes bottomToTop {
  from {
    opacity: 0;
    margin-top: 40px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes leftToRight {
  from {
    opacity: 0;
    margin-right: 40px;
  }
  to {
    opacity: 1;
    margin-right: 40px;
  }
}
@keyframes rightToLeft {
  from {
    opacity: 0;
    margin-left: 40px;
  }
  to {
    opacity: 1;
    margin-left: 0px;
  }
}

.navbar .topnav input[type="text"] {
  padding: 4px;
  /* margin-top: 3px; */
  font-size: 17px;
  border: 1px solid #e00120;
  color: #e00120;
}
.navbar .topnav .search-container button {
  float: right;
  padding: 4px 10px;
  /* margin-top: 5px;   */
  margin-right: 16px;
  background: #e00120;
  font-size: 17px;
  border: 1px solid #e00120;
  cursor: pointer;
}

.navbar .topnav .search-container button:hover {
  background: #020202;
}

@media screen and (max-width: 991px) {
  .navbar .topnav .search-container button {
    display: none;
  }
  .navbar .topnav input[type="text"] {
    width: 100%;
    /* margin: 0 20px; */
  }
}
/* end animation template */
